<!DOCTYPE html>
  <html>
    <head>
		<!--Import Google Icon Font-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
		<style>
            body, html {
                height: 100%;
                width: 95%;
            }
            .marg{
				margin: 10px;

				font-color: #000000;

			}
			.radio {
				color: #000;
			}
            .labels {
                color: white;
                background-color: blue;
                font-family: "Lucida Grande", "Arial", sans-serif;
                font-size: 10px;
                text-align: center;
                width: 15px;
                white-space: nowrap;
                border-radius: 10px;
            }
            #map-canvas {
                height: 100%;
                margin: 0px;
                padding: 0px;
                width:100%;
            }

	    </style>
    </head>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"></script>
        <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;
function loadURL(marker) {
    return function () {
        window.location.href = marker.url;
    };
}
function hovermarker(marker) {
    return function () {
        alert(marker.city);
    };
}
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(39.926368, -98.544583),
    zoom:5,
    mapTypeId:google.maps.MapTypeId.DEFAULTS
  };
  var map=new google.maps.Map(document.getElementById("map-canvas"),mapProp);
  var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
  var icons = {
      MyLoc: {
		   icon: 'http://icons.iconarchive.com/icons/icons-land/vista-map-markers/32/Map-Marker-Marker-Outside-Azure-icon.png',
		   name: 'Selected City'
      }
  };
var infowindow = new google.maps.InfoWindow(
  {
    size: new google.maps.Size(150,50)
  });

  function addMarker(feature) {
      var marker = new MarkerWithLabel({
          position: feature.position,
          labelContent: feature.labrl,
          raiseOnDrag: true,
          labelClass: "labels", // the CSS class for the label
          labelAnchor: new google.maps.Point(8, 37),
          labelInBackground: false,
          icon: pinSymbol('blue'),
          url: feature.url,
          city: feature.cityname,
          map: map
      });
      google.maps.event.addListener(marker, 'click',loadURL(marker));
      marker.addListener('mouseover', function() {
        infowindow.setContent(marker.city);
        infowindow.open(map,marker);
      });
      // assuming you also want to hide the infowindow when user mouses-out
      marker.addListener('mouseout', function() {
          infowindow.close();
      });

  }
  function pinSymbol(color) {
       return {
                path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
                fillColor: color,
                fillOpacity: 1,
                strokeColor: '#000',
                strokeWeight: 1,
                scale: 1
       };
  }
  var features = [
            {% for key in cityinfo %}
          {
              position: new google.maps.LatLng(parseInt("{{ key.1 }}") , parseInt("{{ key.2 }}")),
              labrl: '{{ key.5 }}',
              url: '{{ serv }}/{{ key.0 }}',
              cityname:'{{ key.0 }}'

          },
        {% endfor %}

  ]
  for (var i = 1, feature; feature = features[i]; i++) {
          addMarker(feature);
  }
  var legend = document.getElementById('legend');
  for (var key in icons) {
      var type = icons[key];
      var name = type.name;
      var icon = type.icon;
      var div = document.createElement('div');
      div.innerHTML = '<img src="' + icon + '">' + name;
      legend.appendChild(div);
  }
  map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);


}



google.maps.event.addDomListener(window, 'load', initialize);
</script>
<body style="background-color: #eeeeee; margin-left: 5%">

        <div id="map-canvas"></div>
                <div id="legend" style="background-color:#aaaaaa; background-opacity: 0.5">
            </div>

      <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>






  </html>
